[user]
	email = ajduke@about.me
	name = ajduke

 [color]
    branch = auto
    diff = auto
    status = auto
  [color "branch"]
    current = blue reverse
    local = blue
    remote = green
  [color "diff"]
    meta = blue bold
    frag = magenta bold
    old = red bold
    new = green bold
  [color "status"]
    added = blue
    changed = green
    untracked = cyan

[merge]
  log = true
#  tool = p4merge
[mergetool "p4merge"]
  cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false 
 
 [alias]
         ci = commit
         co = checkout
         st = status
         br = branch
         sh = show
# show difference between the HEAD and the index
         staged = diff --cached
# show difference between working tree and the index
         unstaged = diff
# show staged and unstaged changes (what would be committed with "git commit -a")
         both = diff HEAD
         dh = diff HEAD
# quick access to oneline log format         
  oneline = log --date=relative --pretty=format:'%Cred%h %Cblue%ar %Creset%s %Cred%an'
  ol = log --date=relative --pretty=format:'%Cred%h %Cblue%ar %Creset%s %Cred%an'
         graph = log --graph --pretty=oneline --abbrev-commit

