[submodule "zshell/zsh-syntax-highlighting"]
	path = zshell/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zshell/zsh-autosuggestions"]
	path = zshell/zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule "powerlevel9k"]
	path = powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zshell/iTerm2-Color-Schemes"]
	path = zshell/iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
